
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo do site, garante que o header e footer fiquem no lugar */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header principal, alinhamento e cor */ 
header {
    width: 100%;
    height: 10vh;
    background-color: #3347b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    
    
}
/* div da logo */
header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* div bo botão sair */
header .sair {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 200px;
}

/* nome da escola */
h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 650;
    font-style: bold;
    line-height: 100%;
    
}

/* botao sair */
 .btnSair{
    background-color: #3347b0;
    border: #3347b0;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: white;
    gap: 12px; 


} 

/* oculta o conteudo de uma div para aparecer o da outra, ignora o flex e sobrepõe */
.hidden {
    display: none !important;
}


/* ajusta o conteudo */
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    
    
}

/* conteudo da tela */
 .container_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1248px;
    height: 482px ;
    gap: 100px;
    

} 

/* imgsas */
.dispositivos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
}

/* botao curso */
.btn-curso {
    background-color: #3347b0;
    border: transparent; 
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    font-style: medium;
    color: white;
    margin-bottom: 30px;
    box-shadow: 12px 12px 0px rgba(51, 71, 176, 0.3)
   
}

/* titulo home */
h2{
    font-size: 57px;
    font-style: light;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* titulo home */
span {
    font-weight: 700;
    font-style: bold;
    font-size: 57px;
    color: #3347b0;

}

/* titulo curso */
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 64px;
    color: #3347B0;

}

/* container curso (alunos) */
.container_cursos {
    background-color: coral;
    width: 100%; 
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center;
}

/* card dos alunos */
.card-aluno {
    width: 200px;
    height: 300px;
    background-color: #3347B0; /* Cor azul padrão */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 200px;
}

/* imagem do card */
.card-aluno img {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

/* nome do aluno */
.card-aluno p {
    width: 176px;
    height: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    color: #fff;
}


.container-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     width: 1248px;
    height: 482px ;
    background-color: lightslategray;
    bottom: 150px;
}


.container_aluno {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 100%;
    box-shadow: 8px 0px 8px rgba(51, 71, 176, 0.2)
}

.container_aluno img{
    width: 400px;
    height: 400px;
}

.aluno-card {
    width: 400px;
    height: 430px;
     background-color: lightpink; 
}

#aluno p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 18px;
    color: #3347B0;
    
}

#notas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 221, 192);
    box-shadow: 8px 0px 8px rgba(51, 71, 176, 0.2);
    width: 480px;
    height: 100%;
}

.card-notas {
    width: 400px;
    height: 430px;
    background-color: aliceblue;

}


/* footer geral alinhamento e cor  */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    background-color: #3347b0;
    color: white;
    padding: 20px 50px;
    flex-shrink: 0;
    margin-top: auto;
}

/* div contatos, ajusta alinhamento */
 .contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* div copyright, ajusta o alinhamento e a o estilo da fonte */
.direitos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* div social ajusta o tamanho e os icones*/
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    gap: 12px;
    
}

/* ajusta o icone social e coloca a borda */
.icon{
    display: flex;
    border-radius: 50%;
    border: 2px solid #fff;
    
}

/* ajusta o tamanho das imagens das redes sociais */
.social img {
    display: flex;
    padding: 12px;
    
 
}

/* icone do contato, tanto a foto quanto a escrita */
.icon-contato {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* imagem dos contatos */
.icon-contato img {
    display: flex;
    width: 20px;
    height: 18px;
   
}

